datetime
python-docx>=0.8.11
flask_user
gibberish
nltk
numpy
openai
pandas
requests
sqlalchemy
streamlit
stripe
uuid
flask_user
flask_wtf
wtforms
flask_uploads
flask_sqlalchemy
email_validator
workzeug
flask